body {
	background-color: whitesmoke;
}

.split {
	height: 81%;
	/*width: 50%;*/
	position: fixed;
	z-index: 1;
	bottom: 10px;
	overflow-x: hidden;
	/*padding-top: 20px;*/
}

/* Control the left side */
.left {
	/*background: #e7b91b;*/
	width: 25%;
	left: 30px;
	padding-left: 10px;
	padding-right: 5px;
	/*background-color: #111;*/
}

/* Control the right side */
.right {
	right: 35px;
	width: 70%;
	/*padding-right: 30px;*/
	/*background-color: red;*/
}

#map {
	position: absolute;
	top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
}

.marker {
	background-image: url('marker-mapbox.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.marker-loc {
	background-image: url('circle.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.marker-bridge {
	background-image: url('transparent-marker.png');
	background-size: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 400px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.popup-table {
	border-collapse: collapse;
}

.popup-table th, td {
	border: 1px solid black;
	text-align: left;
	font-weight: normal;
}

h1 {
	color: #111;
	padding-left: 40px;
	font-family: 'Helvetica Neue', sans-serif;
	/*font-size: 275px;*/
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	/*text-align: center;*/
}

h2 {
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
	margin: 20px 0 0;
}

p {
	color: #685206;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 24px;
	text-align: justify;
	text-justify: inter-word;
}

header {
	margin-left: auto;
	margin-right: auto;
	/*display: block;*/
	height: 130px;
	width: 95%;
	text-align: left;
	font-size: 35px;
	color: black;
	border: 10px double black;
	display: flex;
	align-items: center;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */

}



