body {
	background-color: whitesmoke;
}

.split {
	height: 81%;
	/*width: 50%;*/
	position: fixed;
	z-index: 1;
	bottom: 10px;
	overflow-x: hidden;
	/*padding-top: 20px;*/
}

/* Control the left side */
.left {
	/*background: #e7b91b;*/
	width: 25%;
	left: 30px;
	/*background-color: #111;*/
}

/* Control the right side */
.right {
	right: 35px;
	width: 70%;
	/*padding-right: 30px;*/
	/*background-color: red;*/
}

#map {
	position: absolute;
	top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
}

.marker {
	background-image: url('marker-mapbox.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 400px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.popup-table {
	border-collapse: collapse;
}

.popup-table th, td {
	border: 1px solid black;
	text-align: left;
	font-weight: normal;
}

h1 {
	color: #111;
	padding-left: 40px;
	font-family: 'Helvetica Neue', sans-serif;
	/*font-size: 275px;*/
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	/*text-align: center;*/
}

h2 {
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
	margin: 20px 0 0;
}

p {
	color: #685206;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 24px;
	text-align: justify;
	text-justify: inter-word;
}

header {
	margin-left: auto;
	margin-right: auto;
	/*display: block;*/
	height: 130px;
	width: 95%;
	text-align: left;
	font-size: 35px;
	color: black;
	border: 10px double black;
	display: flex;
	align-items: center;
	/*background: #e7b91b;*/
	/*background: #de6161; !* fallback for old browsers *!*/
	/*background: -webkit-linear-gradient(to right, #2657eb, #de6161); !* Chrome 10-25, Safari 5.1-6 *!*/
	/*background: linear-gradient(to right, #2657eb, #de6161); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

	/*background: #ffd89b; !* fallback for old browsers *!*/
	/*background: -webkit-linear-gradient(to right, #19547b, #ffd89b); !* Chrome 10-25, Safari 5.1-6 *!*/
	/*background: linear-gradient(to right, #19547b, #ffd89b); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

	/*background: #FEAC5E; !* fallback for old browsers *!*/
	/*background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); !* Chrome 10-25, Safari 5.1-6 *!*/
	/*background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}



